---
import Main from "../layouts/Main.astro";
import Text from "../components/Text.astro";
---

<Main title="Phyoe Zaw Aung | ABOUT">
    <div class="w-full h-full items-center flex justify-center">
        <h1><Text>About</Text></h1>
    </div>
</Main>