---
import NavItem from "./NavItem.astro";
import Text from "./Text.astro";

const linkedin_url = "https://www.linkedin.com/in/phyoe-zaw-aung-1078a22b8/";
const github_url = "https://github.com/PhyoeZawAung";
---

<nav class="bg-gray-50 dark:bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <NavItem href="/" text="Home"></NavItem>
            <NavItem href="/contact" text="Contact"></NavItem>
            <NavItem href="/blogs" text="Blogs"></NavItem>
            <NavItem href="/projects" text="Projects"></NavItem>
            <NavItem href="/about" text="About"></NavItem>
          </div>
        </div>
      </div>
      <!-- icon list -->
      <div class="flex flex-row gap-4">
        <a target="_blank" href={github_url}><Text><i class="fa-brands fa-github fa-lg"></i></Text></a>
        <a target="_blank" href={linkedin_url}><Text><i class="fa-brands fa-linkedin fa-lg"></i></Text></a>
      </div>
      <!-- Theme Select -->
      <div class="relative ml-3">
        <label for="theme-select" class="sr-only"><Text>Theme</Text></label>
        <div class="flex flex-row items-center gap-2">
          <i id="themeIcon"></i>
          <select
            id="theme-select"
            class="block py-2.5 px-0 w-full text-sm text-gray-800 bg-transparent border-0 appearance-none dark:text-gray-50 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
          >
            <option value="auto"><Text>Auto</Text></option>
            <option value="light"><Text>Light</Text></option>
            <option value="dark"><Text>Dark</Text></option>
          </select>
        </div>
      </div>
    </div>
  </div>
</nav>
